
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 132, 255, 0.5)); */
    /* Set a specific height */
    height: 745px;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    border-bottom: 4px solid darkgray ;
  }
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    left: 50%;
    color: white;
    font-weight: 900;
    font-size: large;
  }
  .hero-text h1,
  .hero-text p {
    font-size: x-large;
    margin-bottom: 30px;
  }
  .hero-text button {
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(to bottom, #2c539e 0%,#2c539e 100%);
    border: none;
    color: white;
    font-weight: bolder;
  }
