/*Footer style*/
footer {
  border-top: 3px solid darkgray; 
  color: gray;
  background-color: #343a40;
  padding: 35px 120px;
  margin-top : 50px
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .container section {
  max-width: 22%;
}
footer .container section h6 {
  margin-bottom: 20px;
  color: white;
  min-width: 170px;
}
/*check*/

footer .container :nth-child(2) ul li {
  /* text-align: left; */
  /* text-justify: ; */
  list-style-type: none;
  text-decoration: none;
}
footer .container :nth-child(2) ul li a {
  text-decoration: none;
  color: gray;
}
footer .container :nth-child(2) ul li :hover {
  color: white;
}
footer .container section a img {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}
footer .container section > a{
  margin-left : -6px;
}
footer .container section input[type="email"] {
  background-color: transparent;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 5px;
  border: 1px solid gray;
  min-width: 250px;
  color: white;
  outline: none;
}
footer .container section input[type="button"] {
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px;
  border: 1px solid gray;
  float: right;
  outline: none;
}
footer .container section {
  margin-bottom: 20px;
  
}
footer .container section article{
  text-align: left;
}
footer .container section .combine {
  display: flex;
  justify-content: center;
}
footer hr {
  height: 0.1px;
  font-weight: lighter;
  background: white;
  margin-top: 50px;
}
footer p{
  color:white;
  text-align: center;
}
/*mediaQuery for footer*/
@media screen and (max-width: 800px) {
  footer {
    padding: 15px 30px;
  }
  footer .container section {
    min-width: 100%;
  }
  footer .container section .combine{
    justify-content: left;
  }
  footer hr {
    margin: 30px -20px;
  }
  
}