@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");

.HowItWorks .timeline {
  position: relative;
  padding: 40px 0;
  margin: 50px auto;
 
  box-sizing: border-box;
  width: 80%;
}
.HowItWorks h2 {
  font-weight: 800;
  text-align: center;
  color: #0000ff;
  margin : 48px 0px; 
}
.HowItWorks .timeline ul {
  padding: 0;
  margin: 0;
}

.HowItWorks .timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.HowItWorks .timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.HowItWorks .timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.HowItWorks .timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.HowItWorks .content {
  padding-bottom: 20px;
}

.HowItWorks .timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 28px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: rgb(32, 182, 12);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.HowItWorks .timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  top: 28px;
  left: 15px;
  width: 10px;
  height: 10px;
  background: rgb(32, 182, 12);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.HowItWorks .timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: rgb(23, 124, 207);
}

.HowItWorks .timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.HowItWorks .timeline ul li:nth-child(odd).time {
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  background: rgb(23, 124, 207);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.HowItWorks .timeline ul li:nth-child(even).time {
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  background: rgb(23, 124, 207);
  color: #fff;
  border-radius: 18px;
}

.HowItWorks .timeline ul li .time h4 {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  background: rgb(23, 124, 207);
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 0 3px rgb(244, 245, 241);
  text-align: center;
}

@media (max-width: 767px) {
  .HowItWorks .timeline {
    width: 100%;
    padding-bottom: 0;
  }
  .HowItWorks .timeline:before {
    left: 20px;
  }
  .HowItWorks .timeline ul li:nth-child(odd),
  .HowItWorks .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .HowItWorks .timeline li:nth-child(odd):before,
  .HowItWorks .timeline li:nth-child(even):before {
    top: -18px;
    left: 16px;
  }
  .HowItWorks .timeline li:nth-child(odd) .time,
  .HowItWorks .timeline li:nth-child(even) .time {
    top: -30px;
    left: 50px;
    right: inherit;
  }
}


@media screen and (min-width: 767px) {
  .HowItWorks .timeline ul li:nth-child(even):before {
      left: -4px;
    }
  }
  