@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');


.ContactUs .Container1 {
    width: 80%;
    font-style: italic;
    margin: 20px auto;
    padding: 10px;
  
}

.ContactUs h2 {
    font-weight: 700;
    text-align: center;
    color: #0000ff;
    margin : 48px 0px; 
  }

.ContactUs .three {
    display: flex;
    justify-content: space-between;
    
}
.ContactUs .num,
.ContactUs .email,
.ContactUs .fak {
    max-width: 33%
}
.ContactUs .num{
    margin-right: 100px;
}


   

.ContactUs input[type=text],
.ContactUs select,
.ContactUs textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.ContactUs input[type=submit] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.ContactUs input[type=submit]:hover {
    background-color: rgb(36, 179, 7);
}





.ContactUs .material-icons {
    margin-left: 40%;
    color: blue;
}

.ContactUs .form {
    background-color: white;
    padding: 3%;
    background-color: transparent;
}
@media (max-width: 500px) {
    .ContactUs  .Container1 {
        width: 100%;
      
        margin: 20px auto;
        padding: 10px;
       
    }
   .ContactUs  .three {
        margin: 20px auto;
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
    
       align-items: center;
       
    }
    .ContactUs .num,
    .ContactUs .email,
    .ContactUs .fak {
    max-width: 80%;
}
.ContactUs .num{
    margin-right: 0;
}
    


    

}


