@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
body {
    background-color: whitesmoke;
}

.Container1 {
    font-style: italic;
    margin: 1%;
    padding: 10%;
    background-color: whitesmoke;
}

h2 {
    text-align: center;
    color: blue;
}

.three {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

.num {
    margin-left: -100px;
}

.num,
.email,.fak{
    max-width: 33%
}

@media screen and (max-width: 1105px) {
    .three {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .num,
    .email {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }
    .material-icons {
        margin-left: 50%;
    }
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(11, 11, 14);
}

.fak {
    width: 500px;
}

@media (max-width: 500px) {
    .fak {
        width: 500px;
        margin-left: 50px;
    }
}

.material-icons {
    margin-left: 40%;
    color: blue;
}

.form {
    background-color: white;
    padding: 3%;
    background-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.timeline {
    position: relative;
   
    margin: 50px auto;
    width: 1000px;
    box-sizing: border-box;
}

.timeline ul {
    padding: 0;
    margin: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 28px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 28px;
    left: 15px;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

@media screen and (min-width: 500px) {
    .timeline ul li:nth-child(even):before {
        left: -4px;
    }
}

.timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(233, 33, 99, 1);
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li:nth-child(odd).time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.timeline ul li:nth-child(even).time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
}



@media (max-width: 1000px) {
    .timeline {
        width: 100%;
    }
}

@media (max-width:500px) {
    .timeline {
        width: 100%;
    }
    .timeline:before {
        left: 20px;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }
    .timeline li:nth-child(odd):before,
    .timeline li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }
    .timeline li:nth-child(odd) .time,
    .timeline li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}