.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.admin>button {
  min-width: 10%;
  min-height: 50px;
  
}

.admin table {
  border-collapse: collapse;
  min-width: 800px;
  margin-top: 50px;
}

.admin th, .admin td {
  text-align: left;
  padding: 8px;
  text-align: center;
}

.admin tr:nth-child(even) {
  background-color: #f2f2f2
}

.admin tr:nth-child(odd) {
  background-color: #f2e2f2
}

.admin th {
  background-color: steelblue;
  color: white;
}

.admin Form {
  margin-top: 50px
}

.admin Form button {
  color: #fff;
  background-color: #4285f4 !important;
  border-color: #007bff;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin : 20px 0px;
  min-width: 300px;
  margin-left: 31%;
}
.admin fieldset legend{
  color : #4285f4;
  text-align: center;
  font-size: xx-large;
  font-weight: 700  ;
}